<div class="waterfall-container">
  <div class="img-row">
    <div class="img-card" *ngFor="let url of imgRow1">
      <img [src]="url">
    </div>
  </div>
  <div class="img-row">
    <div class="img-card" *ngFor="let url of imgRow2">
      <img [src]="url">
    </div>
  </div>
  <div class="img-row">
    <div class="img-card" *ngFor="let url of imgRow3">
      <img [src]="url">
    </div>
  </div>
  <div class="img-row">
    <div class="img-card" *ngFor="let url of imgRow4">
      <img [src]="url">
    </div>
  </div>  
</div>
